<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="car_playwright_wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <car_playwright_wpf.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="headless" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="slow_mo" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="navigation_timeout" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="default_timeout" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="retry_times" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="delay_after_click" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="only_login" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_submit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auto_exit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="export_json" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="export_excel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="log_file" serializeAs="String">
                <value>program.log</value>
            </setting>
            <setting name="base_url" serializeAs="String">
                <value>http://19.15.0.71</value>
            </setting>
            <setting name="captcha_ocr_lang" serializeAs="String">
                <value>eng</value>
            </setting>
            <setting name="tesseract_path" serializeAs="String">
                <value>C:\Program Files\Tesseract-OCR\tesseract.exe</value>
            </setting>
            <setting name="excel_prefix" serializeAs="String">
                <value>用车复核记录</value>
            </setting>
            <setting name="excel_monthly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="excel_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="max_retry_on_error" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="input_timeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="order_time_threshold" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="order_max_retry" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="order_retry_delay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="debug_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="log_level" serializeAs="String">
                <value>DEBUG</value>
            </setting>
            <setting name="log_to_console" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="log_to_file" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auto_detect_timeout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auto_timeout" serializeAs="String">
                <value>0</value>
            </setting>
        </car_playwright_wpf.Properties.Settings>
    </userSettings>
</configuration>